.mh-skills {
  padding-top: 10%;
  padding-bottom: 10%;
}
.mh-skills .mh-professional-skill {
    padding-right: 60px;
  }
  
  .mh-skills .mh-professional-skill h3 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 60px;
  }
  
  .mh-professional-skills {
    padding-left: 20%;
  }
  
  .mh-professional-skills h3 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 60px;
  }
  
  .mh-professional-progress li {
    display: inline-block;
    margin: 0 auto;
    float: none;
    width: 48%;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .mh-progress {
    margin-bottom: 10px;
    font: 900 1.1428571429em/1 Cinzel, cursive;
  }
  
  .mh-progress .progressbar-text {
    color: inherit !important;
  }
  
  .progress.progress-line {
    height: 10px;
    margin-right: 60px;
  }
  
  .progress.progress-line .progressbar-text {
    position: absolute;
    top: 50%;
    left: 100%;
    width: 60px;
    -webkit-transform: translateY(-35%);
    transform: translateY(-35%);
    text-align: center;
  }
  
  .mh-progress.mh-progress-circle {
    display: inline-block;
    width: 100px;
    height: 100px;
  }
  
  .mh-progress path:nth-child(1) {
    stroke: rgba(0, 0, 0, 0.7);
  }
  
  .mh-progress path:nth-child(2) {
    stroke: #0bceaf;
  }
  
  .candidatos {
    position: relative;
    margin-bottom: 15px;
  }
  
  .candidatos .parcial {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
  }
  
  .candidatos .parcial .info {
    position: relative;
  }
  
  .candidatos .parcial .info .nome {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.9;
  }
  
  .candidatos .parcial .info .eleito, .candidatos .parcial .info .segundo-turno {
    padding: 0 5px 2px 5px;
    border-radius: 2px;
  }
  
  .candidatos .parcial .info .percentagem-num {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    font-weight: normal;
  }
  
  .candidatos .parcial .progressBar {
    position: relative;
    width: 100%;
    height: 7px;
    margin: 30px 0 2px;
    border-radius: 10px;
    background: #eee;
  }
  
  .candidatos .parcial .percentagem {
    position: absolute;
    top: 0;
    left: 0;
    height: 7px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #4157d8d7;
    -webkit-transition: 3s all;
    -webkit-animation-duration: 3s;
    -webkit-animation-name: animationProgress;
  }
  
  .candidatos .parcial .partidas {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .percentual {
    -webkit-animation-name: animationProgress;
            animation-name: animationProgress;
  }
  




  
.progress {
  width: 100px;
  height: 100px;
  background: none;
  position: relative;
}

.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid ;
  border-color: #4157d8d7;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}





  @-webkit-keyframes animationProgress {
    from {
      width: 0;
    }
  }
  
  @keyframes animationProgress {
    from {
      width: 0;
    }
  }
  